<div class="container">
    <div class="left-column">
      <label for="compo1">OrbitDB address:</label>
      <input type="text" id="compo1" name="compo1" placeholder="OrbitDB address" class="input-field"><br><br>
      <label for="compo2">IOTA Streams address:</label>
      <input type="text" id="compo2" name="compo2" placeholder="IOTA Streams address" class="input-field"><br><br>
      <label for="compo4">Secret key:</label>
      <input type="text" id="compo4" name="compo4" placeholder="Put patients secret key" class="input-field">

      <button id="compo5" name="compo5" class="button">Store data</button><br><br>
    </div>
  </div>